<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{24069054-b282-4335-a566-32e9edec06aa}</AddInID><Description>Open Converted Layer in Map to KML and Opens the Result in Google Earth</Description><Version>0.1</Version><Image>Images\icons8-google-earth-48.png</Image><Author>J. Fadamoro</Author><Company>Teqbridge Limited</Company><Date>08/22/2020</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="OpenKML_addin.py" namespace="OpenKML_addin"><ArcMap>
    <Commands>
        <Button caption="Open KML" category="Python Addin" class="ButtonClass1" id="OpenKML_addin.button" image="Images\icons8-google-earth-48.png" message="" tip="Open KML in Google Earth"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Open KML " category="Python Addin" id="OpenKML_addin.toolbar" showInitially="true"><Items><Button refID="OpenKML_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>